<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>is_error</key>
	<integer>0</integer>
	<key>version</key>
	<integer>3</integer>
	<key>count</key>
	<integer>1</integer>
	<key>id</key>
	<integer>1</integer>
	<key>values</key>
	<dict>
		<key>1</key>
		<dict>
			<key>contact_id</key>
			<string>1</string>
			<key>contact_type</key>
			<string>Individual</string>
			<key>contact_sub_type</key>
			<string></string>
			<key>sort_name</key>
			<string>Adams, Elina</string>
			<key>display_name</key>
			<string>Mrs. Elina Adams</string>
			<key>do_not_email</key>
			<integer>0</integer>
			<key>do_not_phone</key>
			<integer>1</integer>
			<key>do_not_mail</key>
			<integer>0</integer>
			<key>do_not_sms</key>
			<integer>0</integer>
			<key>do_not_trade</key>
			<integer>0</integer>
			<key>is_opt_out</key>
			<integer>0</integer>
			<key>legal_identifier</key>
			<string></string>
			<key>external_identifier</key>
			<string></string>
			<key>nick_name</key>
			<string></string>
			<key>legal_name</key>
			<string></string>
			<key>image_URL</key>
			<string></string>
			<key>preferred_communication_method</key>
			<string></string>
			<key>preferred_language</key>
			<string></string>
			<key>preferred_mail_format</key>
			<string></string>
			<key>first_name</key>
			<string>Natasha</string>
			<key>middle_name</key>
			<string>S</string>
			<key>last_name</key>
			<string>Adams</string>
			<key>prefix_id</key>
			<integer>1</integer>
			<key>suffix_id</key>
			<string></string>
			<key>formal_title</key>
			<string></string>
			<key>communication_style_id</key>
			<string></string>
			<key>job_title</key>
			<string></string>
			<key>gender_id</key>
			<string></string>
			<key>birth_date</key>
			<string>1984-04-12 00:00:00</string>
			<key>is_deceased</key>
			<integer>0</integer>
			<key>deceased_date</key>
			<string></string>
			<key>household_name</key>
			<string></string>
			<key>organization_name</key>
			<string></string>
			<key>sic_code</key>
			<string></string>
			<key>contact_is_deleted</key>
			<integer>0</integer>
			<key>current_employer</key>
			<string></string>
			<key>address_id</key>
			<string>128</string>
			<key>street_address</key>
			<string>604C Northpoint Ln SE</string>
			<key>supplemental_address_1</key>
			<string></string>
			<key>supplemental_address_2</key>
			<string></string>
			<key>supplemental_address_3</key>
			<string></string>
			<key>city</key>
			<string>Guadalajara</string>
			<key>postal_code_suffix</key>
			<string></string>
			<key>postal_code</key>
			<integer>76866</integer>
			<key>geo_code_1</key>
			<real>31.472654</real>
			<key>geo_code_2</key>
			<real>-99.92215</real>
			<key>state_province_id</key>
			<integer>1042</integer>
			<key>country_id</key>
			<integer>1228</integer>
			<key>phone_id</key>
			<string>98</string>
			<key>phone_type_id</key>
			<integer>2</integer>
			<key>phone</key>
			<string>(707) 778-1687</string>
			<key>email_id</key>
			<string>106</string>
			<key>email</key>
			<string>elinaadams@airmail.biz</string>
			<key>on_hold</key>
			<integer>0</integer>
			<key>im_id</key>
			<string></string>
			<key>provider_id</key>
			<string></string>
			<key>im</key>
			<string></string>
			<key>worldregion_id</key>
			<integer>2</integer>
			<key>world_region</key>
			<string>America South, Central, North and Caribbean</string>
			<key>languages</key>
			<string></string>
			<key>individual_prefix</key>
			<string>Mrs.</string>
			<key>individual_suffix</key>
			<string></string>
			<key>communication_style</key>
			<string></string>
			<key>gender</key>
			<string></string>
			<key>state_province_name</key>
			<string>Texas</string>
			<key>state_province</key>
			<string>TX</string>
			<key>country</key>
			<string>United States</string>
			<key>id</key>
			<string>1</string>
			<key>api.Contribution.get</key>
			<dict>
				<key>is_error</key>
				<integer>0</integer>
				<key>version</key>
				<integer>3</integer>
				<key>count</key>
				<integer>1</integer>
				<key>values</key>
				<array>
					<dict>
						<key>contact_id</key>
						<string>1</string>
						<key>contribution_id</key>
						<string>1</string>
						<key>currency</key>
						<string>USD</string>
						<key>payment_instrument_id</key>
						<integer>3</integer>
						<key>receive_date</key>
						<string>2018-04-22 10:51:00</string>
						<key>non_deductible_amount</key>
						<real>0</real>
						<key>total_amount</key>
						<string>25</string>
						<key>fee_amount</key>
						<string></string>
						<key>net_amount</key>
						<string></string>
						<key>trxn_id</key>
						<string></string>
						<key>invoice_id</key>
						<string></string>
						<key>invoice_number</key>
						<string></string>
						<key>cancel_date</key>
						<string></string>
						<key>cancel_reason</key>
						<string></string>
						<key>receipt_date</key>
						<string></string>
						<key>thankyou_date</key>
						<string></string>
						<key>contribution_source</key>
						<string>Donation</string>
						<key>amount_level</key>
						<string></string>
						<key>contribution_recur_id</key>
						<string></string>
						<key>is_test</key>
						<integer>0</integer>
						<key>is_pay_later</key>
						<integer>0</integer>
						<key>contribution_status_id</key>
						<integer>1</integer>
						<key>contribution_check_number</key>
						<string></string>
						<key>contribution_campaign_id</key>
						<string></string>
						<key>civicrm_value_donor_information_3_id</key>
						<integer>2</integer>
						<key>custom_5</key>
						<string></string>
						<key>custom_6</key>
						<string></string>
						<key>payment_instrument</key>
						<string>Cash</string>
						<key>contribution_status</key>
						<string>Completed</string>
						<key>check_number</key>
						<string></string>
						<key>instrument_id</key>
						<integer>3</integer>
						<key>id</key>
						<string>1</string>
					</dict>
				</array>
			</dict>
			<key>api.Pledge.get</key>
			<dict>
				<key>is_error</key>
				<integer>0</integer>
				<key>version</key>
				<integer>3</integer>
				<key>count</key>
				<integer>1</integer>
				<key>id</key>
				<integer>1</integer>
				<key>values</key>
				<array>
					<dict>
						<key>contact_id</key>
						<string>1</string>
						<key>contact_type</key>
						<string>Individual</string>
						<key>contact_sub_type</key>
						<string></string>
						<key>sort_name</key>
						<string>Adams, Elina</string>
						<key>display_name</key>
						<string>Mrs. Elina Adams</string>
						<key>pledge_id</key>
						<string>1</string>
						<key>pledge_amount</key>
						<string>100</string>
						<key>pledge_create_date</key>
						<string>2018-04-22 00:00:00</string>
						<key>pledge_start_date</key>
						<string>2018-04-22 00:00:00</string>
						<key>pledge_status</key>
						<string>In Progress</string>
						<key>pledge_total_paid</key>
						<string>25</string>
						<key>pledge_next_pay_date</key>
						<string>2018-05-01 00:00:00</string>
						<key>pledge_next_pay_amount</key>
						<string>25</string>
						<key>pledge_outstanding_amount</key>
						<string></string>
						<key>pledge_financial_type</key>
						<string>Donation</string>
						<key>pledge_contribution_page_id</key>
						<string></string>
						<key>pledge_frequency_interval</key>
						<string>3</string>
						<key>pledge_frequency_unit</key>
						<string>month</string>
						<key>pledge_is_test</key>
						<integer>0</integer>
						<key>pledge_campaign_id</key>
						<string></string>
						<key>pledge_currency</key>
						<string>USD</string>
						<key>id</key>
						<string>1</string>
					</dict>
				</array>
			</dict>
			<key>api.Participant.get</key>
			<dict>
				<key>is_error</key>
				<integer>0</integer>
				<key>version</key>
				<integer>3</integer>
				<key>count</key>
				<integer>1</integer>
				<key>id</key>
				<integer>1</integer>
				<key>values</key>
				<array>
					<dict>
						<key>contact_id</key>
						<string>1</string>
						<key>contact_type</key>
						<string>Individual</string>
						<key>contact_sub_type</key>
						<string></string>
						<key>sort_name</key>
						<string>Adams, Elina</string>
						<key>display_name</key>
						<string>Mrs. Elina Adams</string>
						<key>event_id</key>
						<string>1</string>
						<key>event_title</key>
						<string>Fall Fundraiser Dinner</string>
						<key>event_start_date</key>
						<string>2018-07-12 17:00:00</string>
						<key>event_end_date</key>
						<string>2018-07-14 17:00:00</string>
						<key>participant_role</key>
						<string>Volunteer</string>
						<key>default_role_id</key>
						<integer>1</integer>
						<key>participant_id</key>
						<string>1</string>
						<key>participant_fee_level</key>
						<string>Single</string>
						<key>participant_fee_amount</key>
						<string>50</string>
						<key>participant_fee_currency</key>
						<string>USD</string>
						<key>event_type</key>
						<string>Fundraiser</string>
						<key>participant_status_id</key>
						<integer>1</integer>
						<key>participant_status</key>
						<string>Registered</string>
						<key>participant_role_id</key>
						<integer>2</integer>
						<key>participant_register_date</key>
						<string>2008-06-04 00:00:00</string>
						<key>participant_source</key>
						<string>Credit Card</string>
						<key>participant_note</key>
						<string></string>
						<key>participant_is_pay_later</key>
						<integer>0</integer>
						<key>participant_is_test</key>
						<integer>0</integer>
						<key>participant_registered_by_id</key>
						<string></string>
						<key>participant_discount_name</key>
						<string></string>
						<key>participant_campaign_id</key>
						<string></string>
						<key>id</key>
						<string>1</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
